.awardsList {
    display: flex;
    justify-content: flex-end;
    grid-gap: 5px;
}

.award {
    height: 100px;
    width: 100px;
    margin: 0 10px;
}

.metaInfo {
    margin: 0 0 50px 0;
    font-family: 'Manjari';
}