
.homeContainer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50% 50%;

    height: 100%;
}

.metaInfo {
    margin: 0 0 50px 0;
    font-family: 'Manjari';
}

.styledTitle {
    font-family: Mistral;
}