.spaceApart {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.verticalAlignmentCenter {
    align-items: center;
}

.fullHeightContainer {
    height: 100vh;
}

.marginBottomSm {
    margin-bottom: 15px;
}

.imgSmall {
    width: 100px;
    height: 100px;
}

.imgFill {
    width: 100%;
    height: 100%;
}